.ropeproject
bower_components
node_modules
.vscode/
package-lock.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
/.venv*/
/.python-version
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# Editors and IDEs
/.idea

# Make sentinel files
/.make-status/

# Development environment extras
/ckan
/.env
