requests==2.*
six==1.14.*
typing==3.7.*
giftless-client==0.0.*
-r https://raw.githubusercontent.com/datopian/ckanext-authz-service/v0.1.2/requirements.in
git+https://github.com/datopian/ckanext-authz-service.git@v0.1.2#egg=ckanext-authz-service
