requests==2.*,>=2.23.0
typing==3.7.*
giftless-client==0.1.*
-r https://raw.githubusercontent.com/datopian/ckanext-authz-service/v0.2.0/requirements.in
git+https://github.com/datopian/ckanext-authz-service.git@v0.2.0#egg=ckanext-authz-service
