{% resource 'blob-storage/css/main.3c074c8b.chunk.css' %}

{% resource 'blob-storage/js/runtime-main.c155da57.js' %}
{% resource 'blob-storage/js/2.60dfd475.chunk.js' %}
{% resource 'blob-storage/js/main.c8e9dac3.chunk.js' %}

<div id="ResourceEditor"
     data-dataset-id="{{ pkg_id }}"
     data-api="{{ base_url }}"
     data-lfs="{{ h.blob_storage_server_url() }}"
     data-auth-token="{{ api_key }}"
     data-organization-id="{{ h.blob_storage_storage_namespace() }}"
     data-resource-id="{{ resource_id }}">
</div>
