{% resource 'external-storage/css/main.51082016.chunk.css' %}

{% resource 'external-storage/js/runtime-main.c155da57.js' %}
{% resource 'external-storage/js/2.389bdd51.chunk.js' %}
{% resource 'external-storage/js/main.6782d42f.chunk.js' %}

<div id="ResourceEditor"
     data-dataset-id="{{ pkg_name }}"
     data-api="{{ base_url }}"
     data-lfs="{{ h.extstorage_lfs_url() }}"
     data-auth-token="{{ api_key }}"
     data-organization-id="{{ h.extstorage_organization_name(pkg_name) }}"
     data-resource-id="{{ resource_id }}">
</div>
