{% resource 'external-storage/css/main.2a5e9524.chunk.css' %}

{% resource 'external-storage/js/runtime-main.c155da57.js' %}
{% resource 'external-storage/js/2.9b4c4c0c.chunk.js' %}
{% resource 'external-storage/js/main.3e62aa44.chunk.js' %}

<div id="ResourceEditor"
     data-dataset-id="{{ pkg_name }}"
     data-api="{{ base_url }}"
     data-lfs="{{ h.extstorage_lfs_url() }}"
     data-auth-token="{{ api_key }}"
     data-organization-id="{{ h.extstorage_organization_name(pkg_name) }}">
</div>
